#employeeGrid {
    padding: 25px;
    display: grid; 
    grid-template-columns: repeat(auto-fit, minmax(125px, 1fr));
    grid-auto-rows: auto;
    align-items: start;
    align-content: start;
    gap: 10px;
    overflow-y: auto; 
    overflow-x: hidden; 

    margin-left: 0 !important;

    flex: 2;
    height: 100%;
    padding-right: 8px;
}
#createEmployeeBox {
    display: grid;
    text-align: center;
    place-items: center;
}

#employeePageContent{
    display:flex;
    flex-direction:row;
}

#employeeEditField{
    min-width: 400px;
}

.employeeBox {
    width: 100px;
    height: 125px;
    background-color: #343434;
    display: flex;
    padding: 5px;
    border-radius: 10px;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}
.employeeBox:hover {

}


#employeeEditField img {
    width: 150px;
    height: 150px;
}

#employeeGrid .employeeBox img {
    width: 75px;
    height: 75px;
}

.addEmployeeBox {
    display:flex;
    width: 200px;
    height: 250px;
    background-color: dimgray;
    padding: 5px;

    flex-direction: column;
    align-items: center;
}