.container {
    margin: auto;
    width: 350px;
}

input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
    display: none;
}

form {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
img {
    width: 20px;
}
.hide{
    display: none;
}