#root {
    margin: 0;
    padding: 0;
    text-align: center;
}

.weatherForecast {
    width: 100vw;
    margin: auto;
}

table {
    margin: auto;
}

th, td {
    padding-left: 1rem;
    padding-right: 1rem;
}