.App {
    /*    display: flex;*/
    width: 100%;
    height: 100%;
}

.weatherForecast {
    width: 100%;
    margin: auto;
    height: 100%;
}

table {
    margin: auto;
}

th, td {
    padding-left: 1rem;
    padding-right: 1rem;
}
