nav {
    flex-grow: 1;
    
    background-color: #222222;
    display: flex;
    justify-content: center;
    flex-direction: column;
       
    flex-shrink: 0;
}

.navContainer {
    background-color: #222222;
    display: flex;
    flex-direction: column;
    width: 250px;
}

h2 {
    padding-left: 2em;
    padding-right: 2em;
}

nav a {
    color: inherit;
    background-color: #171717;
    font-size: 24px;
    padding: 2em;
    border: 2px solid transparent;
}
    a:hover {
        border-radius: 0;
        border-color: #646cff;
    }

ul {
    list-style-type: none;
/*    margin: auto;*/
    padding: 0;
}

li {
    padding: 10px;
    padding-top: 1em;
    padding-bottom: 1em;

}

.logOutButton {
    padding: 0.5em;
}

.logOutImage {
    width: 10%;
}